.container {
        margin-top: 15px;
        border-radius: 4%;
        padding-top: 1%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: rgb(252, 247, 255);

}